:root {
  --green: #00c565;
  --greenBorder: #21fa90;
  --red: #BF0603;
  --redBorder: #F10804;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
