.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  max-height: 100dvh;
  background-color: #0d3b66;
  color: white;
}

.main > h1 {
  font-size: 2rem;
  font-size: clamp(2rem, 1.7rem + 1.5vw, 3.5rem);
  font-weight: 800;
  margin-bottom: 1rem;
}

.main > h2 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.2rem + 1.5vw, 2.5rem);
  font-weight: 600;
  margin-bottom: 1rem;
}

.questions {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 1rem;
  margin-left: 1rem;
}

.question {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 3px solid #fff;
  background-color: rgba(204, 218, 209, 0.2);
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
  font-weight: 500;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  width: 45ch;
  word-break: normal;
  transition: all .2s ease-in-out;
}

.question:hover {
  background-color: rgba(204, 218, 209, 0.4);
}
